# Node modules directory
node_modules/

# Environment variables file
.env

# Build output directory
dist/
reactron-base-win32-x64/
.vscode/
.vscode
# Electron build output directory
Reactron Base-win32-x64/
reactron-base-win32-x64/
reactron-base-win32-x64/resources/app.asar
reactron-base-win32-x64/reactron-base.exe


# Other specific build directories if needed
# (Add any other paths or files you want to ignore here)
