# Node modules directory
node_modules/

# Environment variables file
.env

# Build output directory
dist/

# Electron build output directory
Reactron Base-win32-x64/

# Other specific build directories if needed
# (Add any other paths or files you want to ignore here)
