// Animation for logo scaling
@keyframes logoAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

// General body styling

.header{
    display: flex;

}

// Heading styling
h1 {
    font-size: 2.25rem; /* Equivalent to 36px */
    font-weight: 700; /* Bold font weight */
    color: #1f2937; /* Dark gray color */
    margin-bottom: 1.5rem; /* Margin bottom of 24px */
}

// Paragraph styling
p {
    font-size: 1.125rem; /* Equivalent to 18px */
    color: #4b5563; /* Medium gray color */
    margin-bottom: 1.5rem; /* Margin bottom of 24px */
}

// Code block styling
pre {
    background-color: #1f2937; /* Dark gray background */
    color: #ffffff; /* White text color */
    padding: 1rem; /* Padding of 16px */
    border-radius: 0.375rem; /* Rounded corners with 6px radius */
    margin: 0 auto; /* Centering */
    font-size: 1.125rem; /* Equivalent to 18px */
    white-space: pre-wrap; /* Preserve white space */
}

.headerLogo{
    height: 90px;
    cursor: pointer;
    // width: 50px;
    animation: logoAnimation 2s infinite;
    transition: transform 0.3s;
}

// Logo styling
.logo {
    height: 50px;
    cursor: pointer;
    // width: 50px;
    animation: logoAnimation 2s infinite;
    transition: transform 0.3s; /* Smooth transform on hover */

    &:hover{
        transform: scale(1.1);
    }
}


