@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Titillium Web';
    src: url('/public/assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}